body {
  min-height: 100vh;
  background: $darkGrey;
  background-image: url('img/9.png');
  background-position: center;
  background-size: cover;
  //background=#333333ff&noise=666666&density=19&opacity=82
  color: #ffffff;
  color: #888;
  color: #333;

  font-family: 'Raleway', sans-serif;
//  font-family: 'Josefin Slab', sans-serif;
//  background-image: url('http://www.dvdbeaver.com/film4/blu-ray_reviews57/secret_beyond_the_door_blu-ray_/large/large_secret_beyond_the_door_blu-ray_x06.jpg');
//  background-image: url('http://www.jamesvegter.com/resources/backgirl-d4vc5a0.jpg');
//  background-image: url('../app/img/background.png');
//  background-image: url('../app/img/6ghgesn.jpg');
//  background-image: url('../app/img/oavv3DC.jpg');
//  background-position: center;
//  background-size: cover;
}

.wrapper {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
//  background: rgba(0,0,0,0.6);
  background: rgba(255,255,255,0.9);
  background: $glass;
}

.content {
  position: absolute;
  top: 0;
  left:100px;
  right: 0;
  bottom: 0;
  padding: 15px 30px;
  display: none;
}

img {
  max-width: 100%;
}

#header {
  height: 50px;
  line-height: 40px;
  background: $darkGlass;
  margin-bottom: 30px;
}

#rambo-io {
  position: absolute;
  z-index: -1;
  color: $darkGlass;
  bottom: 50%;
  width: 100%;
  left: 0;
  font-size: 100px;
  text-align: center;
//  font-weight: 800;
}

h1, h2, h3 {
  //font-size: 30px;
//  color: white;
  margin: 0 0 15px;
  font-weight: 300;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  color: $primary;
  font-weight: 600;
}

hr {
  margin: 0;
  padding: 0;
  background: $glass;
  background: $darkGlass;
  background: #eee;
  background: none;
//  background: $primary;
//  opacity: 0.2;
  height: 8px;
  border: none;
}

.fa {
  line-height: inherit;
}

.invisible-input {
  width:inherit;
  border: none;
  line-height: inherit;
//  height: auto;
  padding: 0;
  margin: 0;
  color: inherit;
  background: none;
  width: 100%;
  position: absolute;
  outline: none;

  &.static {
    position: static;
  }
}

strong {
//  color: white;
}