<script type="text/ng-template" id="menu.html">
    <div data-template="menu">
        <div class="logo">
            <img src="img/rambo.io.png"/>

            <!--<div>Rambo.io</div>-->
        </div>

        <ul>
            <li ng-class="{active:isScreen('board')}" ng-click="setScreen('board')">
                <i class="fa fa-users"></i>

                <div>Board</div>
            </li>
            <li ng-class="{active:isScreen('backlog')}" ng-click="setScreen('backlog')">
                <i class="fa fa-list"></i>

                <div>Stories</div>
            </li>
            <li ng-class="{active:isScreen('burndown')}" ng-click="setScreen('burndown')">
                <i class="fa fa-area-chart"></i>

                <div>Burndown</div>
            </li>
            <li ng-class="{active:isScreen('control')}" ng-click="setScreen('control')">
                <i class="fa fa-cog"></i>

                <div>Sprint Control</div>
            </li>
        </ul>

    </div>
</script>