<script type="text/ng-template" id="menu.html">
    <div data-template="menu">
        <div class="logo">
            <img src="img/rambo.io.png"/>

            <!--<div>Rambo.io</div>-->
        </div>

        <ul>
            <li class="active">
                <i class="fa fa-users"></i>

                <div>Board</div>
            </li>
            <li>
                <i class="fa fa-list"></i>

                <div>Backlog</div>
            </li>
            <li>
                <i class="fa fa-area-chart"></i>

                <div>Burndown</div>
            </li>
            <li>
                <i class="fa fa-cog"></i>

                <div>Sprint Control</div>
            </li>
        </ul>

    </div>
</script>