<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="bower.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400,200,300' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css' rel='stylesheet' type='text/css'>


</head>
<body ng-app="rambo-io">
<div class="wrapper">
    <span screen board></span>
    <span screen backlog></span>
    <span screen burndown></span>
    <span screen control></span>
</div>
<span screen menu></span>
<script type="text/ng-template" id="backlog.html">
    <div class="content">
        <div data-template="backlog">

            <h1>Stories</h1>
            <hr/>
            <br/>

            <div class="row">
                <div class="col-sm-4">
                    <h2>Backlog</h2>
                    <hr/>
                    <br/>
                </div>

                <div class="col-sm-4">
                    <h2>In Progress</h2>
                    <hr/>
                    <br/>
                </div>

                <div class="col-sm-4">
                    <h2>Done</h2>
                    <hr/>
                    <br/>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4">
                    <div ng-repeat="story in getStoriesByStatus('backlog') track by $index">
                        <div story-box story="story"></div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <div class="box-color-2"></div>
                            <input type="text" placeholder="Add Story" ng-model="newStoryTitle"/>
                            <i class="fa fa-check fa-fw pull-right" ng-click="addStory(newStoryTitle)" style="cursor: pointer"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div ng-repeat="story in getStoriesByStatus('in progress') track by $index">
                        <div story-box story="story"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div ng-repeat="story in getStoriesByStatus('done') track by $index">
                        <div story-box story="story"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="board.html">
    <div class="content">
        <div data-template="board">
            <h1>Board</h1>
            <hr/>
            <br/>

            <div class="row">
                <div class="col-sm-3">
                    <h2>User</h2>
                    <hr/>
                    <br/>
                </div>

                <div class="col-sm-9">
                    <h2>Working On</h2>
                    <hr/>
                    <br/>
                </div>
            </div>

            <div class="row user" ng-repeat="user in getUsers() track by $index">
                <div class="col-sm-3">
                    <div class="user-image"
                         style="background-image: url('{{user.getImage()}}')"></div>
                    <div class="user-name">{{user.getName()}}</div>
                </div>
                <div class="col-sm-9">

                    <div ng-repeat="story in getStoriesByUser(user) track by $index">
                        <div story-box story="story"></div>
                    </div>

                </div>
            </div>


        </div>

    </div>
</script>
<script type="text/ng-template" id="control.html">
    <div class="content">
        <div data-template="control">
            <h1>Control</h1>
            <hr/>
            <br/>

            <div class="row">
                <div class="col-sm-3">
                    <h2>Project Name</h2>
                </div>

                <div class="col-sm-9">
                    <div class="line">
                        <div style="position: relative">
                            <input type="text" class="invisible-input" ng-change="saveControls()" ng-model-options="{ updateOn: 'blur' }" ng-model="getControls().name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h2>Start Date</h2>
                </div>

                <div class="col-sm-9">
                    <div class="line">
                        <div style="position: relative">
                            <input type="text" class="invisible-input" ng-change="saveControls()" ng-model-options="{ updateOn: 'blur' }" ng-model="getControls().startDate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h2>End Date</h2>
                </div>

                <div class="col-sm-9">
                    <div class="line">
                        <div style="position: relative">
                            <input type="text" class="invisible-input" ng-change="saveControls()" ng-model-options="{ updateOn: 'blur' }" ng-model="getControls().endDate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h2>Epics</h2>
                </div>

                <div class="col-sm-9">
                    <div ng-repeat="epic in getControls().epics">
                        <div class="line">
                            <div class="row">
                                <div class="col-sm-2">
                                    <strong>Name</strong>
                                </div>
                                <div class="col-sm-4">
                                    <div style="position: relative">
                                        <input type="text" class="invisible-input" ng-change="saveControls()" ng-model-options="{ updateOn: 'blur' }" ng-model="epic.title"/>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <strong>Color</strong>
                                </div>
                                <div class="col-sm-4">
                                    <div class="line-color" style="background: {{epic.color}}">

                                    </div>
                                    <div style="position: relative">
                                        <input type="text" class="invisible-input" ng-change="saveControls()" ng-model-options="{ updateOn: 'blur' }" ng-model="epic.color"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</script>
<script type="text/ng-template" id="menu.html">
    <div data-template="menu">
        <div class="logo">
            <img src="img/rambo.io.png"/>

            <!--<div>Rambo.io</div>-->
        </div>

        <ul>
            <li ng-class="{active:isScreen('board')}" ng-click="setScreen('board')">
                <i class="fa fa-users"></i>

                <div>Board</div>
            </li>
            <li ng-class="{active:isScreen('backlog')}" ng-click="setScreen('backlog')">
                <i class="fa fa-list"></i>

                <div>Stories</div>
            </li>
            <li ng-class="{active:isScreen('burndown')}" ng-click="setScreen('burndown')">
                <i class="fa fa-area-chart"></i>

                <div>Burndown</div>
            </li>
            <li ng-class="{active:isScreen('control')}" ng-click="setScreen('control')">
                <i class="fa fa-cog"></i>

                <div>Control</div>
            </li>
        </ul>

    </div>
</script>
<script type="text/ng-template" id="story.html">
    <div class="box">
        <div class="box-header">
            <!--<i class="fa fa-angle-right"></i> &nbsp;-->

            <div class="box-header-title" ng-click="toggleContent()">
                <i class="fa fa-angle-right" ng-show="!isContentOpen()"></i>
                <i class="fa fa-angle-down" ng-show="isContentOpen()"></i>
                <i class="fa fa-exclamation-circle" ng-show="story.isBlocked()" style="color: red"></i>
                {{story.getName()}}
            </div>
            <div class="box-color-2" style="background-color:{{controls.epics[story.getEpic()].color}}"></div>
            <i class="fa fa-bars fa-fw pull-right" ng-click="showMenu()" style="cursor: pointer"></i>

            <div class="box-menu" ng-show="isMenuOpen()">
                <div class="box-menu-header">
                    Menu
                    <i class="fa fa-times fa-fw pull-right" ng-click="hideMenu()"></i>
                </div>

                <ul>
                    <li>
                        <ul>
                            <li ng-repeat="user in getUsers() track by $index"
                                ng-click="addUser(user);"
                                    >{{user.getName()}}</li>
                        </ul>
                        Assign to...
                    </li>
                    <li ng-click="block()" ng-show="!story.isBlocked()">Block</li>
                    <li ng-click="unblock()" ng-show="story.isBlocked()">Unblock</li>
                    <li>
                        <ul>
                            <li ng-repeat="epic in controls.epics track by $index"
                                ng-click="setEpic($index)"
                                    >{{epic.title}}</li>
                        </ul>
                        Change Epic...
                    </li>
                    <li ng-click="setStatus('in progress')">Start</li>
                    <li ng-click="setStatus('backlog')">Send to backlog</li>
                    <li ng-click="setStatus('done')">Done!</li>
                    <li ng-click="deleteStory()">Delete</li>
                </ul>
            </div>
        </div>

        <div class="box-content" ng-show="isContentOpen()">

            <div style="position: relative">
                <p><strong>Description</strong></p>
                <p><textarea type="text" class="invisible-input static" ng-model="description" ng-change="setDescription()" ng-model-options="{ updateOn: 'blur' }"></textarea></p>

                <p><strong>Users</strong></p>
                <p>
                    <div ng-repeat="user in story.getUsers() track by $index">
                        {{getUserById(user).getName()}}
                    </div>
                </p>
                <p><strong>Epic</strong></p>
                <p>
                    <!--<div class="box-color-2" style="background-color:{{controls.epics[story.getEpic()].color}}"></div>-->
                    {{controls.epics[story.getEpic()].title}}
                </p>
            </div>
        </div>
    </div>
</script>
<script src="bower.js"></script>
<script src="app.js"></script>

</body>
</html>