<script type="text/ng-template" id="board.html">
    <div class="content">
        <div data-template="board">
            <h1>Board</h1>
            <hr/>
            <br/>

            <div class="row">
                <div class="col-sm-3">
                    <h2>User</h2>
                    <hr/>
                    <br/>
                </div>

                <div class="col-sm-9">
                    <h2>Working On</h2>
                    <hr/>
                    <br/>
                </div>
            </div>

            <div class="row user" ng-repeat="user in getUsers() track by $index">
                <div class="col-sm-3">
                    <div class="user-image"
                         style="background-image: url('{{user.getImage()}}')"></div>
                    <div class="user-name">{{user.getName()}}</div>
                </div>
                <div class="col-sm-9">

                    <div ng-repeat="story in getStoriesByUser(user) track by $index">
                        <div story-box story="story"></div>
                    </div>

                </div>
            </div>


        </div>

    </div>
</script>