<script type="text/ng-template" id="board.html">
    <div data-template="board">
        <h1>Board</h1>
        <hr/>

        <div class="row">
            <div class="col-sm-3">
                <h2>User</h2>
            </div>
            <!--<div class="col-sm-3">-->
                <!--<h2>To Do</h2>-->
            <!--</div>-->

            <div class="col-sm-9">
                <h2>In Progress</h2>
            </div>
            <!--<div class="col-sm-3">-->
                <!--<h2>Blocked</h2>-->
            <!--</div>-->
        </div>

        <div class="row user">
            <div class="col-sm-3">
                <div class="user-name">Nathan Nelson</div>
                <div class="user-image" style="background-image: url('https://randomuser.me/api/portraits/men/10.jpg')"></div>
            </div>
            <div class="col-sm-9">

                <div class="box">
                    <div class="box-header">
                        <!--<i class="fa fa-angle-right"></i> &nbsp;-->
                        Define Docker Push Approach
                        <div class="box-color-3"></div>
                        <i class="fa fa-bars fa-fw pull-right"></i>
                    </div>

                    <div class="box-content">
                        Teste4
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <!--<i class="fa fa-angle-right"></i> &nbsp;-->
                        Create UI Assets
                        <div class="box-color"></div>
                        <i class="fa fa-bars fa-fw pull-right"></i>
                    </div>

                    <div class="box-content">
                        Teste4
                    </div>
                </div>

            </div>
        </div>

        <div class="row user">
            <div class="col-sm-3">
                <div class="user-name">Miguel Isisdoro</div>
                <div class="user-image" style="background-image: url('https://randomuser.me/api/portraits/men/0.jpg')"></div>
            </div>
            <div class="col-sm-9">

                <div class="box">
                    <div class="box-header">
                        <!--<i class="fa fa-angle-right"></i> &nbsp;-->
                        Define Alt Build Approach
                        <div class="box-color-3"></div>
                        <i class="fa fa-bars fa-fw pull-right"></i>
                    </div>

                    <div class="box-content">
                        Teste4
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>