<script type="text/ng-template" id="control.html">
    <div class="content">
        <div data-template="control">
            <h1>Control</h1>
            <hr/>
            <br/>

            <div class="row">
                <div class="col-sm-3">
                    <h2>Start Date</h2>
                </div>

                <div class="col-sm-9">
                    <h2>Friday 13th March</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h2>End Date</h2>
                </div>

                <div class="col-sm-9">
                    <h2>Friday 20th March</h2>
                </div>
            </div>


        </div>

    </div>
</script>