<script type="text/ng-template" id="control.html">
    <div class="content">
        <div data-template="control">
            <h1>Control</h1>
            <hr/>
            <br/>

            <div class="row">
                <div class="col-sm-3">
                    <h2>Project Name</h2>
                </div>

                <div class="col-sm-9">
                    <div class="line">
                        <div style="position: relative">
                            <input type="text" class="invisible-input" ng-change="saveProject()"  ng-model="getProject().name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h2>Project Slug</h2>
                </div>

                <div class="col-sm-9">
                    <div class="line">
                        <div style="position: relative">
                            <input type="text" class="invisible-input" ng-change="saveProject()"  ng-model="getProject().slug">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h2>Start Date</h2>
                </div>

                <div class="col-sm-9">
                    <div class="line">
                        <div style="position: relative">
                            <input type="text" class="invisible-input" ng-change="saveProject()"  ng-model="getProject().startDate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h2>End Date</h2>
                </div>

                <div class="col-sm-9">
                    <div class="line">
                        <div style="position: relative">
                            <input type="text" class="invisible-input" ng-change="saveProject()"  ng-model="getProject().endDate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h2>Epics</h2>
                </div>

                <div class="col-sm-9">
                    <div ng-repeat="epic in getProject().epics">
                        <div class="line">
                            <div class="row">
                                <div class="col-sm-2">
                                    <strong>Name</strong>
                                </div>
                                <div class="col-sm-4">
                                    <div style="position: relative">
                                        <input type="text" class="invisible-input" ng-change="saveProject()"  ng-model="epic.title"/>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <strong>Color</strong>
                                </div>
                                <div class="col-sm-4">
                                    <div class="line-color" style="background: {{epic.color}}">

                                    </div>
                                    <div style="position: relative">
                                        <input type="text" class="invisible-input" ng-change="saveProject()"  ng-model="epic.color"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</script>